table
{
background-color:lightblue;	
}
#box
{
background-color:pink;
height:50px;
width:210px;
}
input[type="button"]
{

background-color:yellow;	
height:50px;
width:50px;
border-radius:10px;
position:relative;
}